<h2>Celebrities</h2>
<a href="/celebrities/new" class="btn">Add A New Celebrity</a>
<div>
{{#each celebrities}}
    <div>
        <a href='/celebrities/{{id}}'>{{name}}</a>
        //
        <a href='/celebrities/{{id}}/edit'>Edit</a>
        <form action='/celebrities/{{id}}/delete' method='POST'>
            <button>Delete</button>
        </form>
    </div>
{{/each}}
</div>