<nav>
    <a href='/celebrities'>Back</a>
</nav>

<h2>{{celebrity.name}}</h2>

<p>{{celebrity.occupation}}</p>
<p>{{celebrity.catchPhrase}}</p>

<a href="/celebrities/{{celebrity.id}}/edit" class="btn">Edit the celebrity</a>